[Unit]
Description=Gunicorn instance to serve my workload selector Flask app
After=network.target

[Service]
User=redhat
WorkingDirectory=/home/redhat/toughbook_demo_webapp/
ExecStart=/usr/local/bin/gunicorn --workers 3 --timeout 300 app:app
Restart=always

[Install]
WantedBy=multi-user.target
